<h2>Play Framework in Java by example </h2>

<b>Query parameter examples:</b><br/>
1. <a href="/urlWithoutParameter">/urlWithoutParameter</a> - Normal URL without parameter<br/>
2. <a href="/urlWithoutParameter/new">/urlWithoutParameter/new</a> - Nested URL<br/>
3. <a href="/param1?name=Tomas">/param1?name=Tomas</a> - will write "Hello Tomas !"<br/>
4. <a href="/param2?name=Jack">/param2?name=Jack</a> - will write "Hello Jack !" as a html page<br/>
5. <a href="/param3/12345">/param3/12345</a> - will write "ok: 12345" , get part of the URL, this time with the product Id<br/>
6. <a href="/param4/tex1/text2/text3">/param4/tex1/text2/text3</a> - will write "URL : tex1/text2/text3"<br/>


<br/>
<b>Static files:</b><br/>
1. <a href="/assets/images/play-logo.png">/assets/images/play-logo.png</a> - showing a Play logo<br/>

<br/>
<b>Templating:</b><br/>
1. <a href="/showProducts">/showProducts</a> - ArrayList iteration example<br/>
2. <a href="/tagExample">/tagExample</a> - example of usage of tag in view<br/>
3. <a href="/templateExample">/templateExample</a> - template example in the view<br/>


<br/>
<b>Cookies:</b><br/>
1. <a href="/setCookie">/setCookie</a> - set the Cookie<br/>
2. <a href="/readCookie">/readCookie</a> - read the Cookie<br/>
3. <a href="/deleteCookie">/deleteCookie</a> - delete the Cookie<br/>

<br/>
<b>Sessions:</b><br/>
1. <a href="/login">/login</a> - put user into the Session<br/>
2. <a href="/user">/user</a> - read the Session<br/>
3. <a href="/logout">/logout</a> - delete the user form the Session<br/>

<br/>
<b>Different outputs:</b><br/>
1. <a href="/json1">/json1</a> - JSON output<br/>

<br/>
<b>reCaptcha Example:</b> (Play Framework Java reCaptcha implementation example)<br/>
1. <a href="/recaptcha">/recaptcha</a> - usage of reCaptcha<br/>

<br/>
<b>Database Example:</b><br/>
1. <a href="/insertBook?name=Book1&author=John">/insertBook?name=Book1&author=John</a> - insert a Book into the DB<br/>
2. <a href="/insertBook?name=Another_book&author=Tomas">/insertBook?Another_book&author=Tomas</a> - insert a Book into the DB<br/>
3. <a href="@routes.DatabaseExampleController.getBooks()">/getBooks</a> - display all books<br/>


<br/>
<b>OAuth Examples:</b><br/>
1. <a href="/toFacebookOAuth">/toFacebookOAuth</a> - redirect to Facebook for OAuth<br/>
2. <a href="/toGoogleOAuth">/toGoogleOAuth</a> - redirect to Google for OAuth (to try Google OAuth on Heroku, you need to be part of this group <a href="https://groups.google.com/forum/#!forum/risky-access-by-unreviewed-apps">https://groups.google.com/forum/#!forum/risky-access-by-unreviewed-apps</a> (more info https://support.google.com/code/contact/oauth_app_verification))<br/>

<br/>
<b>Async Examples:</b><br/>
1. <a href="/async">/async</a> - Asynchronous example<br/>


<br/><br/>
<b>Running on Heroku</b><br/>
<a href="https://playframeworkbyexample.herokuapp.com/">https://playframeworkbyexample.herokuapp.com/</a><br/>
<b>Github repository</b><br/>
<a href="https://github.com/ertra/play-framework-by-example">https://github.com/ertra/play-framework-by-example</a><br/>


