<b>Play Framework by example</b>
<br/><br/>
Query parameter examples:<br/>
1. <a href="/urlWithoutParameter">/urlWithoutParameter</a> - Normal URL without parameter<br/>
2. <a href="/urlWithoutParameter/new">/urlWithoutParameter/new</a> - Nested URL<br/>
3. <a href="/param1?name=Tomas">/param1?name=Tomas</a> - will write "Hello Tomas !"<br/>
4. <a href="/param2?name=Jack">/param2?name=Jack</a> - will write "Hello Jack !" as a html page<br/>
5. <a href="/param3/12345">/param3/12345</a> - will write "ök: 12345" , get part of the URL, this time with the product Id<br/>
6. <a href="/param4/tex1/text2/text3">/param4/tex1/text2/text3</a> - will write "URL : tex1/text2/text3"<br/>


<br/>
Static files:<br/>
1. <a href="/assets/images/play-logo.png">/assets/images/play-logo.png</a> - showing a Play logo<br/>

<br/>
Templating:<br/>
1. <a href="/showProducts">/showProducts</a> - ArrayList iteration example<br/>

<br/>
Cookies:<br/>
1. <a href="/setCookie">/setCookie</a> - set the Cookie<br/>
2. <a href="/readCookie">/readCookie</a> - read the Cookie<br/>
3. <a href="/deleteCookie">/deleteCookie</a> - delete the Cookie<br/>

<br/>
Sessions:<br/>
1. <a href="/login">/login</a> - put user into the Session<br/>
2. <a href="/user">/user</a> - read the Session<br/>
3. <a href="/logout">/logout</a> - delete the user form the Session<br/>

<br/>
Different outputs:<br/>
1. <a href="/json1">/json1</a> - JSON output<br/>

