<!DOCTYPE HTML>
<html dir="ltr">
    <head>
        <title>reCAPTCHA example</title>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <form action="/recaptcha" method="POST">
            Name: <input type="text" name="name"/>
                <br/><br/>
                <div class="g-recaptcha" data-sitekey="6LfnWiYUAAAAADjtOB0xgHpYIWhWyEb4ohY39VBQ"></div>
                <br/>
                <input type="submit" value="Submit" />
        </form>
    </body>
</html>
